.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-school{   
    height: 300px;
    min-width: 270px;
    max-width: 400px;
    width: calc(100vw - 20px);
    margin: 10px;
    background-color: var(--gray);
    border-radius: 20px;
    overflow: hidden;
}
.back{
    height: 0%;
}
.banner{
    position: relative;
    height: 250px;
    top: -50px;
    z-index: 0;
}
.dropend{
    position: relative;
    top:-150px;
    height: 200px;
    z-index: 1;
    background-color: var(--gray);
}
.cardContainer{
    position:relative;
    display: flex;
    flex-direction: column;
    height: 270px;
    width: calc(100% - 30px);
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    padding: 15px;
}
.location{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10px;
    align-self: baseline;
}

.info{
    position: relative;
    display: flex;
    height: 150px;
    max-width: 179px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.grade{
    position:relative;
    display: flex;
    flex-direction: row;
    height: 52px;
    width: 100%;
    bottom: 0px;
    align-items: center;
    justify-content: space-between;

}

.item-grade{
    max-width: 102px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.profile-image{
    width: auto;
    height: 100px;
    width: 100px;
    border: 3px solid var(--gray);
    border-radius: 50%;
    background-color: white;
}
.location-text{
font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}

.location-pin{
    height: 10px;
}

.gradeText{
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 22px;
  text-align: center;
  margin: 0px;
}
.gradeNumber{
    margin: 0;
}
  
  .profile-image{
    width: auto;
    height: 100px;
    width: 100px;
    border: 3px solid var(--gray);
    border-radius: 50%;
    background-color: white;
  }
  
  .info h2{
      margin: 0;
  }

  .locationpin{
      height: 15px;
      color: tomato;
  }
  

