.schools-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.h2-schools{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0.5rem;
}
.p-schools{
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 300;
    margin-bottom: 3rem;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 7px;
    overflow: hidden;
    border-radius:20px;
}
.banner{
    position: absolute;
    min-width: auto;
    min-height: auto;
    height: 50%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}
.location{
    position: relative;
    top: 0%;
    display: flex;
    align-items: center;
    margin: 4%;
    align-self: flex-start;
    justify-self: flex-start;
}
.location p{
    margin: 0%;
    text-shadow: 1px 1px black;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 10px);
    margin: 5px;
    text-align: center;
    z-index: 1;
}
.profile-image{
    object-fit: cover;
    border-radius: 50%;

    background-color: white;
    border: solid var(--gray);

    height: 100px;
    width: 100px;
    
}
.rating{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
@media only screen and (max-width:425px){
    .card{
        width: calc(100vw - 15px);
        min-height: calc(50vw - 15px);
    }
    .banner{
        bottom: 70%;
    }    
}

@media only screen and (max-width:659px) and (min-width:426px){
    .card{
        width: calc(50% - 15px);
        min-height: calc(50vw - 15px);
    }
    .banner{
        bottom: 70%;
    }    
}

@media only screen and (max-width: 768px) and (min-width:600px){
    .card{
        width: calc(33.3% - 15px);
        min-height: calc(33.3vw - 15px);
    }
    .banner{
        bottom: 70%;
    }
}

@media only screen and (max-width: 1024px) and (min-width:769px){
    .card{
        width: calc(25% - 15px);
        min-height: calc(25vw - 15px);
    }
    .banner{
        bottom: 70%;
    }

}
@media only screen and (min-width:1025px){
    .card{
        width: calc(240px - 15px);
        min-height: calc(240px - 15px);
    }
    .banner{
        bottom: 70%;
    }
}
/* 
.h2-schools{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0.5rem;
}
.p-schools{
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 300;
    margin-bottom: 3rem;
}

.card{
    position: relative;
    margin: 7px;
    overflow: hidden;
    border-radius:20px;
}
.back{
    height: 100%;
    width: 100%;
}
.banner{
    position: absolute;
    min-width: auto;
    min-height: auto;
    height: 50%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}
.info{
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 0%;
    margin: 5px;

    text-align: center;
}
.grade{
    display: flex;
    position: absolute;
    width: calc(100% - 8%);

    flex-direction: row;
    justify-content: space-around;

    flex-wrap: wrap;

    bottom: 4%;
    margin: 4%;
}

.location{
    display: flex;
    align-items: center;
    position: absolute;

    margin: 4%;

    z-index: 1;
}
.profile-image{
    position: absolute;
    left: 0%;
    right: 0%;
    margin: auto;

    min-width: auto;
    min-height: auto;
    height: 30%;
    width: 30%;
    object-fit: cover;
    border-radius: 50%;

    background-color: white;
    border: solid var(--gray);
    
}

.location .location-pin{
    height: 15px;
}
.info h4{
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto auto auto auto;

    height: fit-content;
    width: fit-content;
}
.location .text{
    margin: 0px 5px;
}

.item-grade{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    text-align: center;
}
.grade-text{
    margin: 0%;
    font-size: 12px;
}
.grade-number{
    line-height: 20px;
    margin: 0%;
}
.rating{
    width: 100%;
    display: flex;
    align-items: center;
}

@media only screen and (max-width:659px){
    .card{
        width: calc(50% - 15px);
        height: calc(50vw - 15px);
    }
    .banner{
        bottom: 70%;
    }
    .profile-image{
        top: 10%; 
    }
    .info h4{
        top:13%;
    }
}

@media only screen and (max-width: 768px) and (min-width:600px){
    .card{
        width: calc(33.3% - 15px);
        height: calc(33.3vw - 15px);
    }
    .banner{
        bottom: 65%;
    }
    .profile-image{
        top: 15%; 
    }
    .info h4{
        top:15%;
    }
}

@media only screen and (max-width: 1024px) and (min-width:769px){
    .card{
        width: calc(25% - 15px);
        height: calc(25vw - 15px);
    }

    .banner{
        bottom:55%;
    }
    .profile-image{
        top: 25%; 
    }
    .info h4{
        top:35%;
    }

}
@media only screen and (min-width:1025px){
    .card{
        width: calc(240px - 15px);
        height: calc(240px - 15px);
    }
    .banner{
        bottom: 55%;
    }
    .profile-image{
        top: 25%; 
    }
    .info h4{
        top:35%;
    }
}



 */