.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    height: 64px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
}
.act{
    font-weight: 600;
}

@media only screen and (max-width:659px){

}