.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    height: 64px;
    background-color: var(--gray);
}

.nav-container{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
}