.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    height: 64px;
    z-index: 10;
}

.nav-container{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.title{
    height: 40px;
    border-radius: 20px;
    padding: 0px 10px;

}
.container-nav{
    display: flex;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 60%;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    z-index: 4;
}

.container-nav-mobile{
    position: absolute;
    display: flex;
    top: 0px;
    left: 0%;
    right: 0%;
    width: calc(100vw - 20px);
    height: max-content;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    z-index: 5;
}
.container-nav-mobile .nav-item{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0px;
}
.act{
    color:lightcoral
}
.themecontainer{
    position:relative;
    width: 24px;
    height: 24px;
}

.add-container{
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;

    top: 74px;
    right:10%;
    padding: 10px;
    width: 300px;
    min-height: 50px;
    max-height: 80vh;
    z-index: 10;
    border-radius: 10px;
}

.close-add{
    position: absolute;
    top:5px;
    right: 5px;
}

@media only screen  and (max-width:659px){
    .add-container{
        position: absolute;
        right:0;
        left: 0;
        margin: auto;
        width: 280px;
    }
    .nav-container{
        width: 30%;
    }
    
}


