body {
  margin: 0px;
  font-family: 'Work Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --gray:#2E2E2E;
  --black:#000000;
  background-color: var(--black);
}
h2{
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
h3{
  font-family: 'Work Sans', sans-serif;
  font-size: 21px;
  font-weight: 800;
  line-height: 34px;
}
h4{
  font-family: 'Work Sans', sans-serif;
  font-size: 19px;
  font-weight: 800;
  line-height: 32px;
}
.location{
  font-size: 12px;
  font-family:'Poppins',sans-serif;
}

a{
  text-decoration: none;
}
p{
  font-family:'Poppins',sans-serif;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  background-color: transparent ;
}
::-webkit-scrollbar-thumb{
  background-color: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb :hover{
  background-color: #b3b3b3;;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a :hover{
  color: lightcoral;
  transition: .3s cubic-bezier(0.25, 0.1, 0, 0.93);
}

